*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Claude AI
.claude/

# Firebase
google-services.json
firebase-debug.log
firestore-debug.log
